.sidebar-container {
  background-color: #0d28a6;
  width: 70px;
}

.btn-sidebar {
  width: 70px;
  /* height: 64px; */
  gap: 5px;
  padding: 10px;
}

.btn-sidebar p {
  color: white;
  font-weight: lighter;
  font-size: 12px;
  font-family: 'Arial', sans-serif;
  line-height: 18px;
}

.side-font {
  font:
    700 14px 'Arial',
    sans-serif;
  line-height: 20px;
  /* height: 42px; */
}

.header-side-font {
  color: #8a8a8a;
}

.side-font-pick {
  background-color: #cfd4ed;
  color: #151515;
}

.btn-sidebar-active {
  background-color: rgba(255, 255, 255, 0.3);
}
