.banner-wrapper {
  background-color: #f1f3ff;
}

.banner {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  /* padding: 38px 0px 0px 136px; */
  /* background-color: #F1F3FF; */
  align-items: center;
  margin: 0 auto;
}

.banner-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.banner-text h1 {
  width: 568px;
  font-size: 36px;
  font-weight: bold;
  line-height: 150%;
  color: #000000;
}

.banner-text p {
  width: 468px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}

.banner-text button {
  background-color: #5cb85f;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 2px;
  border: none;
  width: max-content;
  font-family: 'Arial';
}

.banner-image {
  position: relative;
  z-index: 0;
}

.banner-image img {
  width: 600px;
}

.banner-image-background {
  z-index: -1;
  position: absolute;
  width: 610px;
  height: 243px;
  background-color: #0d28a6;
  border-radius: 60px 60px 0px 0px;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .banner-text {
    width: 600px;
  }

  .banner-text h1 {
    width: 100%;
  }
  .banner-text p {
    width: 100%;
  }

  .banner {
    padding: 20px;
  }

  .banner-image {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .banner {
    flex-direction: column;
  }

  .banner-text {
    padding: 0px 16px;
    width: 370px;
    margin-bottom: 20px;
  }

  .banner-image {
    display: block;
  }

  .banner-image img {
    width: 350px;
  }

  .banner-image-background {
    width: 360px;
    height: 150px;
  }
}
