.testimonial-card {
  background-color: #f1f3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 46px;
  height: 270px;
  border-radius: 8px;
}

.testimonial-card-text {
  display: flex;
  flex-direction: column;
  width: 415px;
  gap: 8px;
  font-size: 14px;
}

.testimonial-card p:nth-child(1) {
  font-size: 18px;
  color: #f9cc00;
}

.testimonial-card p:nth-child(2) {
  font-weight: bold;
}

.testimonial-card-image img {
  width: 80px;
}

@media screen and (max-width: 450px) {
  .testimonial-card {
    flex-direction: column;
    height: 400px;
    width: 100%;
    gap: 25px;
  }

  .testimonial-card-text {
    width: 80%;
  }

  .testimonial-card-text {
    text-align: center;
  }
}
