.admin-page-color {
  margin: 0 auto;
  background-color: #f4f5f7;
}

.gap-component {
  gap: 24px;
  flex-direction: column;
}

.max-size-option-table {
  max-width: 1100px;
}

.font-title-btn {
  font-family: Arial, Helvetica, sans-serif;
}
