.admin-container {
  margin: 0 auto;
  background-color: #f4f5f7;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.admin-tag-page {
  font:
    400 12px 'Text S/Light',
    sans-serif;
  line-height: 18px;
  margin: 0;
}

.admin-tag-page span {
  font:
    700 12px 'arial',
    sans-serif;
  line-height: 18px;
}

.max-width-container {
  max-width: 1101px;
}

.gap-component {
  gap: 24px;
  flex-direction: column;
}

.header-title-admin {
  font:
    700 20px 'arial',
    sans-serif;
  line-height: 30px;
  margin: 0px;
}
